body {
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #016f32;
    background-color: goldenrod;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}